.bg{
  background: url('https://c4.wallpaperflare.com/wallpaper/502/672/845/blue-sea-sea-blue-sky-white-clouds-ocean-scenery-wallpaper-preview.jpg');
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading{
  color: black;
  font-weight: 700; 
}

.icon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}

.weatherDisplay{
  margin: auto;
  width: 500px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.btn{
  color: aqua;
}

.city{
  font-size: 35px;
}

.temp{
  font-size: 55px;
  font-weight: 700;
}